<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
</head>
<body>

<form th:method="GET" th:action="@{/}">
    <input type="submit" value="На главную">
</form>

<h3>Информация о товаре: </h3>
<p th:text="'Наименование: ' + ${product.getTitle()}"></p>
<p th:text="'Описание: ' + ${product.getDescription()}"></p>
<p th:text="'Цена: ' + ${product.getPrice()}"></p>
<p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
<div th:each="img : ${product.getImageList()}">
    <img style="width: 300px" th:if="${img.fileName.contains('jpg') or img.fileName.contains('png')}" th:src="'/img/' + ${img.getFileName()}" >
</div>
</body>
</html>