<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>

<h2>Просмотр всех заказов</h2>
<br>
<form th:method="GET" th:action="@{/admin}">
  <input type="submit" value="На главную">
</form>
<br>

<h3>Поиск</h3>
<form th:method="POST" th:action="@{/admin/orders/search}">
    <fieldset>
        <legend>Поиск:</legend>
        <label for="search">Введите последних 4 буквы/цифры номера заказа</label>
        <input type="text" id="search" maxlength="4" name="search" th:value="*{value_search}">
            <br>
            <input type="submit" value="Найти">
        </div>
    </fieldset>
</form>
<hr>
<h3>Результат поиска</h3>
<div th:each="order : ${search_orders}">
    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
    <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="300px">
    <p th:text="'Пользователь: ' + ${order.getPerson().getLogin()}">
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
    <p th:text="'Количество: ' + ${order.getCount()}">
    <p th:text="'Цена: ' + ${order.getPrice()}">
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Cтатус: ' + ${order.getStatus()}">
    <hr>
</div>
<hr>

<div th:each="order : ${orders}">
    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
    <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="300px">
    <p th:text="'Пользователь: ' + ${order.getPerson().getLogin()}">
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
    <p th:text="'Количество: ' + ${order.getCount()}">
    <p th:text="'Цена: ' + ${order.getPrice()}">
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Cтатус: ' + ${order.getStatus()}">

    <form method="get" th:action="@{/admin/orders/change_status/{id}(id=${order.getId()})}">
        <label for="status">Выберите статус: </label>
        <select id="status" name="statusValue">
            <option th:each="enumm : ${T(com.smaglyuk.handmadeshop.enumm.Status).values()}"
                    th:text="${enumm}"
                    th:value = "${enumm}">
            </option>
        </select>
    <input type="submit" value="Изменить статус">
    </form>
<br>
    <form th:method="GET" th:action="@{/admin/order/delete/{id}(id=${order.getId()})}" th:object="${order}">
        <input type="submit" value="Удалить заказ">
    </form>

    <hr>
</div>


</body>
</html>